html, body {
    margin: 0;
    padding: 0;
    width: 375px;
    font-family: "Source Sans 3", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 5px 15px;
    border-bottom: 1px solid #C6C6C6;
}

.logo {
    width: 130px;
    height: 60px;    
}

.user-profile-img {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    
}

.friend-dp {
    padding: 10px 7px 10px 10px;
    width: 35px;
    height: 35px;
    border-radius: 100%;
}

.user-post-info {
    display: flex;
    align-items: center;
}

.friend-name {
    font-weight: 700;
    margin: 0;
    font-size: 13px;
}

.friend-city {
    margin: 0;
    margin-top: -2px;
    font-size: 12px;
}

section img {
    width: 375px; 
    height: 375px;
}

.icons img {
    width: 26px;
    height: 28px;
    /* height: 23px; */
    /* padding: 13px 4px; */
    /* gap: 30px; */
    margin-top: 10px;
    margin-bottom: 5px;
    /* margin-left: -5px; */
    padding-left: 8px;

}

.total-likes {
    font-size: 13px;
    font-weight: 700;
    margin: 0;
    margin-left: 12px;
}

.comment {
    font-size: 13px;
    margin-left: 12px;
    margin-top: 9px;
    margin-bottom: 20px;
}